#outer-face {
    width: 400px;
    height: 400px;
    background-color: rgba(198, 198, 4, 0.835);
    border-radius: 50%;
    /* position: absolute;
    top: 100px;
    left: 650px; */
}


#left,
#right {
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

#right {
    left: 250px;
}

#mouth {
    height: 70px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 250px;
    left: 110px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: -10%;
}

#outer-face:hover {
    background-color: rgba(198, 198, 4, 0.835);
    transform: rotate(360deg);
    transition-duration: 2s;
    box-shadow: 10px 10px 45px black;
    transition: all 5s ease;
}