h1 {
    text-align: center;
    /* border: solid; */
    /* width: 50%; */
    text-decoration: red line-through;
}

h3 {
    text-align: start;
    text-decoration: dotted underline;

    /* font-weight: normal; */
}

p {
    text-align: justify;
    font-weight: normal;
    /* text-decoration: red underline; */

}

h2 {
    font-weight: 800;
    text-decoration: wavy orange overline;
    /* text-decoration: underline; */
}

a {
    text-decoration: none;

}