h1 {
    text-align: center;
    /* border: solid; */
    /* width: 50%; */
    text-decoration: red line-through;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}

h3 {
    text-align: start;
    text-decoration: dotted underline;

    /* font-weight: normal; */
}

p {
    text-align: justify;
    font-weight: normal;
    /* text-decoration: red underline; */
    line-height: 1.5;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* letter-spacing: 10px; */
}

h2 {
    font-weight: 800;
    text-decoration: wavy orange overline;
    /* text-decoration: underline; */
}

a {
    text-decoration: none;

}