#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;  /*here elements are arranged in the row*/
    flex-direction: column; /*here elements are arranged in the column*/

    /* justify-content: flex-start; aligns items to the start of the flex container
    /* justify-content: center; aligns items to the center of the flex container */
    justify-content: flex-start; 
     /* aligns items to the end of the flex container */ 
    
    /* justify-content: space-between; distributes space between items */
    /* justify-content: space-around; distributes space around items */
    /* justify-content: space-evenly; distributes space evenly between items */

    /* flex-wrap: nowrap; items will not wrap to the next line . this is the default condition */
     flex-wrap: wrap;    
    /* items will wrap to the next line */
    
    /* flex-wrap: wrap-reverse;  */
    /* items will wrap to the next line in reverse order */
}

h1 {
    text-align: center;
}

div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 25px;
}