* {
    /* color: red; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: yellow; */
}

/* 
h1{
    color: blue;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: green;
}
h3{
    color: green;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
} */

h1 {
    color: #b92b27;
}

h3,
p {
    color: rgb(226, 19, 19)
}

#login {
    /* color: blue; */
    background-color: white;
}

#signup {
    color: white;
    background-color: coral;
}

.upvote {
    background-color: green;
}

div[id="myid"] p {
    color: blue;
}

/* #myid p{
    color: green;
} */

/* descendant selector */
/* p a{
    color: purple;
    background-color: yellow;
} */

.post a {
    color: purple;
    background-color: yellow;
}

nav li {
    color: hotpink;
}

/* sibling combinator */
p+h3 {
    text-decoration: underline;
}

.upvote+button {
    background-color: lightblue;
}

/* child combinator */

div>input {
    background-color: darksalmon;
}


/* attribute selector */
input[type="text"] {
    color: green
}

input[type="password"] {
    color: red
}

input[type] {
    background-color: ghostwhite;
}


button:hover {
    color: white;
    background-color: black;
}

h3:hover {
    text-decoration: overline;
}

/* specificity */

/* active */
button:active {
    background-color: hotpink;
    color: black;
}

p:active{
    color:green;
    font-weight: bolder;
}

/* :checked */

input[type = "radio"]:checked + label{
    color: red;
    font-weight: bolder;
}


/* nth of :nth-of-type() */


/* .post:nth-of-type(2){
    background-color: lightgoldenrodyellow;
} */


div:nth-of-type(2n) {
    background-color: lightgoldenrodyellow;
}


